[submodule "contracts/alphastream-contracts/lib/forge-std"]
	path = contracts/alphastream-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "alphastream-contracts/lib/openzeppelin-contracts"]
	path = alphastream-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
